body {
    background-color: #FFCC00;
    padding: 20px;
    margin: 0;
  }
 

  .loadingDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .right {
    float: right;
  }

  .fullWidth {
    width: 100%;
  }